.git
.github
.husky
.vs
.vscode
.idea

**/bin/
**/obj/
**/TestResults/
tests/bin/
tests/obj/

.env
.env.*
docs/.env
docs/.env.*

*.user
*.suo
*.rsuser
*.csproj.user
*.log
*.coverage
*.coveragexml
coverage*/
publish/
artifacts/
