# Servidor
PORT=8080
ASPNETCORE_URLS=http://+:8080
ASPNETCORE_ENVIRONMENT=Development
ENABLE_HTTPS_REDIRECTION=false
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:4200

# Base de datos para Docker local
POSTGRES_USER=uvoluntapp
POSTGRES_PASSWORD=change_me_local
POSTGRES_DB=uvoluntapp
DB_CONNECTION_STRING=Host=postgres_db;Port=5432;Database=uvoluntapp;Username=uvoluntapp;Password=change_me_local

# JWT
JWT_SECRET=dev_secret_local_minimo_32_caracteres
JWT_ISSUER=U_VoluntApp_Backend.Src
JWT_AUDIENCE=UVoluntapp.Client
JWT_EXPIRY_MINUTES=60

# Storage
STORAGE_URL=https://tu-proyecto.supabase.co
STORAGE_SERVICE_ROLE_KEY=tu_service_role_key

# SuperUsuario del sistema (Seeder inicial)
SUPERUSER_EMAIL=admin@tu-app.com
SUPERUSER_PASSWORD=Admin1234

# Imagen para despliegue
API_IMAGE=ghcr.io/tu-usuario/u-voluntapp-backend:latest